.all_bus_locations {
  .map_container {
    height: 100vh;
    z-index: 0;
    .busy_bus_tooltip {
      background-color: rgba(8, 212, 97, 0.9) !important;
      color: white;
    }
  }

  .action_bar_container {
    font-size: 12px;
    min-height: 100vh;
    padding: 24px 28px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    .details_box {
      border: 1px solid rgb(212, 212, 212);
      padding: 12px;
      border-radius: 5px;
    }
    .bus_details_box {
      border: 1px solid rgb(212, 212, 212);
      padding: 12px;
      border-radius: 5px;
      > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
      }
    }
  }
}
