@font-face {
    font-family: "IRANSans";
    font-style: normal;
    src: url(./fonts/IRANSans_Medium.eot?#) format('embedded-opentype'),
    url(./fonts/IRANSans_UltraLight.woff) format('woff'),
    url(./fonts/IRANSans_UltraLight.ttf) format('truetype');
}