.base {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;

  .input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: transparent;
    height: 0;
    width: 0;
  }

  .custom_toggle {
    cursor: pointer;
    position: relative;
    border: none;
    width: 180px;
    height: 28px;
    border-radius: 47px;
    background-color: #d4dbff;

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s linear;
      background-color: #afb6e4;
      width: 23px;
      height: 23px;
      border-radius: 16px;
      position: absolute;
      top: 2px;
      left: 5px;
    }
    .text {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.1s linear;
      position: absolute;
      top: 5px;
      right: 25px;
      text-decoration: line-through;
    }
  }

  .input:checked + .custom_toggle {
    background-color: #252dfa;
    .circle {
      -webkit-transform: translateX(145px);
      -ms-transform: translateX(145px);
      transform: translateX(145px);
      background-color: #0209bd;
    }
    .text {
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px);
      text-decoration: unset;
    }
  }

  .danger {
    background-color:#e2abab;
    .circle {
      background-color:#c06c6c;
    }
  }

  .input:checked + .danger {
    background-color:  #a80000;
    .circle {
      -webkit-transform: translateX(145px);
      -ms-transform: translateX(145px);
      transform: translateX(145px);
      background-color:    #610000af;
    }
  }

  .success {
    background-color:#abe2bd;
    .circle {
      background-color:#7dc06c;
    }
  }

  .input:checked + .success {
    background-color:  #06a800;
    .circle {
      -webkit-transform: translateX(145px);
      -ms-transform: translateX(145px);
      transform: translateX(145px);
      background-color:    #006105af;
    }
  }
  
  .dark {
    background-color:#c0c0c0;
    .circle {
      background-color:#969696;
    }
  }

  .input:checked + .dark {
    background-color:  #505050;
    .circle {
      -webkit-transform: translateX(145px);
      -ms-transform: translateX(145px);
      transform: translateX(145px);
      background-color:    #000000af;
    }
  }
}
